* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  height: 100px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.grey {
  color: #918E9B
}

.bold {
  font-weight: bold;
}

.navLogo {
  height: 100%;
  max-width: 100px;
  bottom: 20px;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.heroImg {
  max-width: 600px;
  align-self: center;
}

.heroTitle {
  margin-bottom: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.heroText {
  margin-top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

section {
  padding: 20px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.cardComponent {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.cardImg {
  height: 235px;
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.cardRating {
  display: flex;
  align-items: center;
}

.cardStar {
  width: 18px;
  height: 14px;
}

.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardPrice {
  margin-top: auto;
}